<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{config.extra.author }} </title>
  <meta name="author" content="{{ config.extra.author }}">
  <meta name=description content="Personal website of a web developer using zola static generator website.">
  <meta property="og:title" content="{{ config.extra.author }}">
  <meta property="og:image" content="{{config.base_url ~ '/hello.jpg' }}">
  <meta property="og:description" content="Personal website of a web developer using zola static generator website.">
  <link rel="preload"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="preload" href="{{ get_url(path="style.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </noscript>
</head>

<body>
  <div class="particles" id="particleContainer"></div>

  <script>
    function getRandomPercentage() {
      const array = new Uint32Array(1);
      window.crypto.getRandomValues(array);
      return (array[0] % 101) + '%';
    }

    function createParticle() {
      const particle = document.createElement('div');
      particle.className = 'particle';
      particle.style.top = getRandomPercentage();
      particle.style.left = getRandomPercentage();
      document.getElementById('particleContainer').appendChild(particle);
    }

    function removeAllParticles() {
      const container = document.getElementById('particleContainer');
      while (container.firstChild) {
        container.removeChild(container.firstChild);
      }
    }

    function playParticles() {
      removeAllParticles();
      for (let i = 0; i < 40; i++) {
        createParticle();
      }
    }

    playParticles();

    setInterval(playParticles, 2000);
  </script>
  <div class="app">
    <nav class="nav">
      <a href="{{ config.base_url ~ '/' }}">
        <img src="{{config.base_url ~ '/hello.jpg'}}" alt="hello" width="125" height="65">
      </a>
      <div class="nav-right">
        <a href="{{ config.base_url ~ '/about' }}"
           class="nav-item active"
           style="margin-right: 20px"
          <span>About Me</span>
        </a>
        <a href="{{ config.base_url ~ '/project' }}"
           class="nav-item active"
           <span>My Projects</span>
        </a>
      </div>
    </nav>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      <span class="copyright">©</span>&nbsp;2024 - IDS721/XC202
    </footer>
  </div>
</body>
</html>
