{% extends "base.html" %}

{% block content %}
<div class="about">
  <div class="content">
    <div class="project-title">
      <h1 class="title">{{ section.title }}</h1>
    </div>
    {% for page in section.pages %}
    <div class="user-projects">
      <div class="project-image">
        {% if page.title is containing("HTTP") %}
        <img alt="project_image" src="{{config.base_url ~ '/proxy.jpg' }}" width=500px height=250px/>
        {% else %}
        <img alt="project_image" src="{{config.base_url ~ '/RPC.png' }}" width=500px height=250px/>
        {% endif %}
      </div>
      <div>
        <h3>{{ page.title }}</h3>
        <ul>
          {% if page.title is containing("HTTP") %}
          <li>C++</li>
          <li>Web Socket</li>
          <li>Multi-Thread</li>
          {% else %}
          <li>Java</li>
          <li>Spring, Spring Boot</li>
          <li>Redis</li>
          <li>MySQL, ElasticSearch</li>
          {% endif %}
        </ul>
        <p>{{ page.content | safe }}</p>
        {% if page.title is containing("HTTP") %}
        <a class="project-links" href="{{ config.extra.git ~ '/HTTP-Caching-Proxy-Server' }}">Check it out</a>
        {% else %}
        <a class="project-links" href="{{ config.extra.git ~ '/RPC' }}">Check it out</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}